This webscraping excercise is to extract the name, year aand director of each movie displayed in this website
https://web.archive.org/web/20230902133604/https://www.bfi.org.uk/sight-and-sound/greatest-films-all-time
and safe the result to a csv file and also a sqlite3 database.

In [95]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import sqlite3

In [97]:
# I Created a db file for the sql database 
with open('movies.db','r') as f:
    pass

In [105]:
db='movies.db' # Name of the database
table_name = 'movies_table'
sql_connection = sqlite3.connect('movies.db') # sql engine

In [67]:
url='https://web.archive.org/web/20230902133604/https://www.bfi.org.uk/sight-and-sound/greatest-films-all-time'
response = requests.get(url).text

In [68]:
data= BeautifulSoup(response,'html.parser')

In [99]:
body=data.find_all('h1')
movies=[]
for _ in body[1:]:
    movies.append(_.string)

In [100]:
years=data.find_all('p',class_="ResultsPage__P-sc-of10co-2 fLmNLB")
year=[]
for _ in years[::2]:
    year.append(_.contents[0])
directors=[]
for _ in years[1::2]:
    directors.append(_.contents[2])

In [101]:
df=pd.DataFrame(data={"Movies":movies,"Year":year,"Director":directors})

In [106]:
df.to_sql(table_name,sql_connection,if_exists ='replace',index=False)

264

In [131]:
df

,Movies,Year,Director
0,Born in Flames,1983,Lizzie Borden
1,Pandora's Box,1928,G.W. Pabst
2,Sullivan's Travels,1941,Preston Sturges
3,Annie Hall,1977,Woody Allen
4,Earth,1930,Alexander Dovzhenko
...,...,...,...
259,In the Mood for Love,2000,Wong Kar Wai
260,Tokyo Story,1953,Yasujirō Ozu
261,Citizen Kane,1941,Orson Welles
262,Vertigo,1958,Alfred Hitchcock
263,"Jeanne Dielman, 23 Quai du Commerce, 1080 Brux...",1975,Chantal Akerman